<h2 class="text-center mt-4">Búsquedas</h2>
        <hr>
        <ul class="list-group">
            <button 
                routerLink="" 
                routerLinkActive="active animate__animated animate__pulse" 
                [routerLinkActiveOptions]="{ exact: true}"
                class="list-group-item list-group-item-action ">Buscar País
            </button>
            <button 
                routerLink="region" 
                routerLinkActive="active animate__animated animate__pulse" 
                class="list-group-item list-group-item-action">Por región 
            </button>
            <button 
                routerLink="capital" 
                routerLinkActive="active animate__animated animate__pulse" 
                class="list-group-item list-group-item-action">Por capital
        </button>
        </ul>
